<?xml version="1.0"?>
<launch>

    <arg name="node_name" default="geo_tagger_node"/>
    <arg name="output" default="screen"/>
    <arg name="gps_topic" default="/dji_sdk/gps_position"/>
    <arg name="image_topic" default="/image_compressed/compressed"/>
    <arg name="geoimage_topic" default="/geo_image"/>
    <arg name="camera_name" default="test"/>
    <arg name="save_start_srv" default="/start_save_geo_image"/>
    <arg name="save_stop_srv" default="/stop_save_geo_image"/>
    <arg name="head_topic" default="/drone_heading"/>
    <arg name="baro_topic" default="/drone_baro_height"/>
    <arg name="gps_dummy" default="false"/>

    <!-- Node -->
    <node pkg="geo_tagger" type="geo_tagger_node" name="$(arg node_name)" output="$(arg output)">
    	  <param name="gps_topic" type="string" value="$(arg gps_topic)"/>
    	  <param name="image_topic" type="string" value="$(arg image_topic)"/>
    	  <param name="geoimage_topic" type="string" value="$(arg geoimage_topic)"/>
    	  <param name="camera_name" type="string" value="$(arg camera_name)"/>
          <param name="flight_save_start_srv" type="string" value="$(arg save_start_srv)"/>
          <param name="flight_save_stop_srv" type="string" value="$(arg save_stop_srv)"/>
          <param name="ar_head_topic" type="string" value="$(arg head_topic)"/>
          <param name="ar_baro_topic" type="string" value="$(arg baro_topic)"/>
          <param name="gps_dummy" type="bool" value="$(arg gps_dummy)"/>

          <rosparam command="load" file="$(find geo_tagger)/config/avt_manta.yaml"/>
    </node>

</launch>
